@charset "UTF-8";
@font-face {
    font-family: android;
    src: url(fontes/idroid.otf);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 0px;
    background-color: #84E1AD;
    
}
main{
    background-color: white;
}

.titulo{
    font-family: 'android', sans-serif;
    color: #217e49;
}

.secundario{
    background-color: #33b66c2f;
}

.cabecalho{
    text-align: center;
}

header{
    color: white;
    text-align: center;
    background-image: linear-gradient(#33b66c,#217245,#154d2d);
    margin: -21px;
}

header > p {
    padding: 5px 19px 19px 19px;
}

header > h1 {
    padding: 30px 30px 5px 30px;
}



nav{
    text-align: left;
}



/* links */
a{
    color:#217245;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

a:after{
    content: '🔗';
}


